/* @import url("@arco-design/web-react/dist/css/arco.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  width: 100%;
  height: 100%;
  /* @apply bg-project-dashboard bg-cover bg-center bg-no-repeat; */
  @apply bg-slate-900 text-white;
}

@layer base {
  :root {
    --brand: #3cb8e6;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    --bar-chart-1: 173 58% 39%;
    --bar-chart-2: 12 76% 61%;
    --chart-red-1: 347 77% 50%;

    --copilot-kit-primary-color: hsl(211 65% 20%);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;

    --bar-chart-1: 173 58% 39%;
    --bar-chart-2: 12 76% 61%;
  }
}

/* #map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
} */

.amap-marker {
  @apply rounded transition-opacity;
}

.amap-marker-label {
  @apply cursor-pointer overflow-hidden rounded border-0 bg-gradient-to-r from-sky-900 to-sky-700 px-2.5 py-1 text-white transition-shadow hover:ring hover:ring-white;
}

/* .project-container {
  display: grid;
}

@media (min-width: 1280px) {
  .project-container {
    display: grid;
    grid-template-areas: "left center right";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1.8fr 1fr;
  }
}

@media (max-width: 1280px) {
  .project-container {
    grid-template-areas:
      "center center"
      "left right";
    grid-template-columns: 1fr 1fr;
  }
}

.center-side {
  order: 0;
  grid-area: center;
}

.right-side {
  grid-area: right;
}

.left-side {
  grid-area: left;
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .masked-overflow {
    /* scroll bar width, for use in mask calculations */
    --scrollbar-width: 8px;

    /* mask fade distance, for use in mask calculations */
    --mask-height: 32px;

    /* If content exceeds height of container, overflow! */
    /* overflow-y: auto; */

    /* Our height limit */
    /* height: 300px; */

    /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
    /* padding-bottom: var(--mask-height); */

    /* Keep some space between content and scrollbar */
    /* padding-right: 20px; */

    /* The CSS mask */

    /* The content mask is a linear gradient from top to bottom */
    --mask-image-content: linear-gradient(
      to bottom,
      transparent,
      black var(--mask-height),
      black calc(100% - var(--mask-height)),
      transparent
    );

    /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

    /* The scrollbar mask is a black pixel */
    --mask-image-scrollbar: linear-gradient(black, black);

    /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
    --mask-size-scrollbar: var(--scrollbar-width) 100%;

    /* Apply the mask image and mask size variables */
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
    mask-position:
      0 0,
      100% 0;

    /* We don't repeat our mask images */
    mask-repeat: no-repeat, no-repeat;
  }

  .masked-overflow-y {
    mask-image: linear-gradient(black, transparent);
  }
}
